.heart {
  width: 10px;
  height: 10px;
  position: fixed;
  background: red;
  transform: rotate(45deg);
}
.heart::before,
.heart::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background: red;
  border-radius: 50%;
}
.heart::before {
  top: -5px;
  left: 0;
}
.heart::after {
  left: -5px;
  top: 0;
}
